<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cleaning Service</title>
</head>
<body>

Welcome to Cleaning Service! We pride ourselves in matching great cleaners to our costumers!

<br><br>


<a th:href="@{/login}" sec:authorize="!isAuthenticated()">Sign in</a> <a th:href="@{/sign-up}" sec:authorize="!isAuthenticated()">Sign Up</a> <a th:href="@{/profile}" sec:authorize="isAuthenticated()">Profile</a>

<form action="#" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="POST">
    <input type="submit" value="Logout"/>
</form>
<br><br>
Discover our cleaners!
<br>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Years of Experience</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}" th:if="${employee.active}">
        <td th:text="${employee.firstName}"></td>
        <td th:text="${employee.yearsOfExperience}"></td>
    </tr>
    </tbody>
</table>


<a th:href="@{/apply}" sec:authorize="!hasRole('ROLE_EMPLOYEE')" style="position: fixed; bottom:   0; right:   0;">Want to work for us?</a>

</body>
</html>

