<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cleaning Service</title>
</head>
<body>

Welcome to Cleaning Service! We pride ourselves in matching great cleaners to our costumers!

<br><br>


<a th:href="@{/login}" sec:authorize="!isAuthenticated()">Sign in</a> <a th:href="@{/sign-up}"
                                                                         sec:authorize="!isAuthenticated()">Sign Up</a>
<a th:href="@{/profile/edit}" sec:authorize="isAuthenticated()">Profile</a> <a th:href="@{/profile/appointments}" sec:authorize="isAuthenticated()">Appointments</a>

<form action="#" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="POST">
    <input type="submit" value="Logout"/>
</form>
<br><br>
Discover our cleaners!
<br>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Years of Experience</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}" th:if="${employee.active}">
        <td>
            <a th:href="@{/profile/{userId}(userId=${employee.userInfo.id})}">
                <span th:text="${employee.firstName}"></span>
            </a>
        </td>
        <td th:text="${employee.yearsOfExperience}"></td>
    </tr>
    </tbody>
</table>

<br><br><br>
Create your appointment with one of our great cleaners!
<br>

<br>
<form th:action="@{/appointment}" th:object="${appointment}" method="post">

    Select a date and time for your appointment:
    <input type="datetime-local" th:field="*{startDate}" id="appointment-datetime"/>
    <br>
    Select how many hours you want our services for:
    <input type="number" th:field="*{hours}">
    <br>
    <button type="submit" class="button">Submit</button>
</form>

<a th:href="@{/apply}" sec:authorize="!hasRole('ROLE_EMPLOYEE')" style="position: fixed; bottom:   0; right:   0;">Want
    to work for us?</a>

</body>
</html>

