<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cleaning Service</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a th:href="@{/}"
           class="navbar-brand mb-0 h1">
            <img
                    class="d-inline-block align-top"
                    th:src="@{/images/cleaning.png}"
                    width="30" height="30"
            />
            Cleaning Service
        </a>
        <button
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                class="navbar-toggler"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a th:href="@{/profile/edit}" sec:authorize="isAuthenticated()" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/login}" sec:authorize="!isAuthenticated()" class="nav-link active">Sign in</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/sign-up}" sec:authorize="!isAuthenticated()" class="nav-link active">Sign up</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/profile/appointments}"
                       sec:authorize="hasRole('ROLE_CUSTOMER') and !hasRole('ROLE_EMPLOYEE')" class="nav-link active">Appointments</a>
                </li>
                <li class="nav-item active">
                    <a th:href="@{/profile/jobs}" sec:authorize="hasRole('ROLE_EMPLOYEE')"
                       class="nav-link active">Jobs</a>
                </li>
                <li class="nav-item active">
                    <div class="ml-auto">
                        <form class="form-inline" action="#" th:action="@{/logout}" sec:authorize="isAuthenticated()"
                              method="POST">
                            <input class="btn btn-outline-secundary my-2 my-sm-0" type="submit" value="Logout"/>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <br><br>
    Welcome to Cleaning Service! We pride ourselves in matching great cleaners to our costumers!
    <br><br>
    <br><br>
    Discover our cleaners!
    <br>
    <table class="table table-sm">
        <thead>
        <tr>
            <th scope="row">Name</th>
            <th scope="row">Years of Experience</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}" th:if="${employee.active}">
            <td>
                <a th:href="@{/profile/{userId}(userId=${employee.userInfo.id})}">
                    <span th:text="${employee.firstName}"></span>
                </a>
            </td>
            <td th:text="${employee.yearsOfExperience}"></td>
        </tr>
        </tbody>
    </table>
    <span sec:authorize="hasRole('ROLE_CUSTOMER') and !hasRole('ROLE_EMPLOYEE')">
    <br><br><br>
    Create your appointment with one of our great cleaners!
    <br>
    <br>
    <form th:action="@{/appointment}" th:object="${appointment}" method="post">

        Select a date and time for your appointment:
        <input type="datetime-local" th:field="*{startDate}" id="appointment-datetime"/>
        <br>
        Select how many hours you want our services for:
        <input type="number" th:field="*{hours}">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <span th:if="${noneAvailableCleaners ne null}" th:text="*{noneAvailableCleaners}"
          class="p-3 mb-2 bg-warning text-dark"></span>
    <span th:if="${appointmentSuccess ne null}" th:text="*{appointmentSuccess}"
          class="p-3 mb-2 bg-success text-white"></span>
    </span>

    <a th:href="@{/apply}" sec:authorize="!hasRole('ROLE_EMPLOYEE')" style="position: fixed; bottom:   0; right:   0;">Want
        to work for us?</a>

</div>
</body>
</html>