<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your jobs</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(jobsList)}">
    <table>
        <thead>
        <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Customer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${jobsList}">
            <td th:text="${#temporals.format(appointment.startDate, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(appointment.endDate, 'dd/MM/yyyy HH:mm')}"></td>
            <td th:text="${appointment.client.fullName}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:if="${#lists.isEmpty(jobsList)}">
    <p>No jobs found.</p>
</div>
<br><br>
<a  th:href="@{/}">Go back</a>


</body>
</html>