<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your jobs</title>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <style>
        #calendar {
            height: 600px;
        }
    </style>
</head>
<body>
<span th:if="not ${#lists.isEmpty(events)}">
<div  id="calendar"></div>

<script th:inline="javascript">

    /*<![CDATA[*/
        document.addEventListener('DOMContentLoaded', function() {

            var events = JSON.parse([[${events}]]);
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek',
                events: events,
                loading: function(isLoading) {
                    if (!isLoading) {
                        console.log('FullCalendar is fully loaded and ready to display events.');
                    }
                }
            });

            calendar.render();
        });
    /*]]>*/
</script>
    </span>

<div th:if="${#lists.isEmpty(events)}">
    <p>No jobs found.</p>
</div>
<br><br>
<a  th:href="@{/}">Go back</a>


</body>
</html>