<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>New applicants</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Years of Experience</th>
        <th>Confirm applicant</th>
        <th>Delete applicant</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${employees}" th:if="${!employee.active}">
        <td>
            <a th:href="@{/profile/{userId}(userId=${employee.userInfo.id})}">
                <span th:text="${employee.firstName}"/>
            </a>
        </td>
        <td th:text="${employee.yearsOfExperience}"></td>
        <td>
            <a th:href="@{/confirmApplicant(id=${employee.id})}">Confirm</a>
        </td>
        <td>
            <a th:href="@{/deleteApplicant(id=${employee.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>