<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

<form th:action="@{/sign-up/save}"
      th:object ="${registrationDTO}"  method="POST">

    Username: <input type="text" th:field="*{username}" placeholder="username">
    Password: <input type="password" th:field="*{password}" placeholder="password">
    Email: <input type="text" th:field="*{email}" placeholder="email">
    First name: <input type="text" th:field="*{firstName}" placeholder="first name">

    <button type = "submit">Sign up</button>

</form>

</body>
</html>